# Ignore everything
*
# But descend into directories
!*/
# Include Certain Filetypes
!*.md
!*.txt
!*.bib
!*.tex
!*.latex
!*.py
!*.ipynb
!*.s2s
!*.s2cx

# Including the ignore of course
!.gitignore
.Rproj.user
